


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
 
    --cor-primaria: #7456CE;
    --cor-secundaria: #3e306b;
    --cor-destaque: #8D7ABE;
    --branco: #D9DCFF;
    --cor-divisoria: #72669A;
    --cor-fundo: #0e0e0e;
    --cor-hover: #9090b1;
    --cor-menu: #161317;
    --preto: #121212;
    --cinza: #6b6b6b;

    --fonte-primaria: "poppins", sans-serif;

    
}


body{
    background-color: var(--cor-fundo);
    
}

.navegacao__container{
    position: relative;
    padding: 8px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-menu);
}

.perfil__links{
    display: flex;
    gap: 1.5rem;
    padding-right: 20px;
}
.perfil__links img{
    width: 2.5rem;
}

.logo__homepage img{
    padding-left:30px;
    width: 10rem;
}

.categorias__cabecalho{
    font-size: 1rem;
    display: flex;
    gap: 3rem;
    list-style: none;
    transform: translateX(-70%);
}
.links__categorias{
    text-decoration: 0;
    color: var(--cinza);
    transition: 0.4s;

}

.links__categorias:hover{
    color: var(--branco);
}
.divisoria{
    border: var(--cor-divisoria)1px solid;
}

.conteudo__homepage{
    margin-top: 5rem;
}

.banner_imagem{
    position: absolute;
}

 .btn-categorias__banners{
    transition: 0.5s ease;
 }

 .btn-categorias__banners a{
    font-size: 15px;
    text-decoration: none;
    color: var(--cor-hover);
    background-color: #47394e46;
    border-radius: 15rem;
    padding: 5px 10px 5px 10px;
    transition: 0.5s;
 }

 .btn-categorias__banners:hover{
    transform: scale(110%);

 }
 .btn-categorias__banners a:hover{
    background-color: #69557446;
 }
 .lista-categorias__banners{
    list-style: none;
    display: flex;
    gap: 2rem;
    
    
 }

.descricao-anime{
    color: var(--branco);
    position: absolute;
    line-height: 1.6;
    width: 30%
}